root{
    --background-black-color: #222;
    --front-black-color: #333;
    --input-type-black-color: #444;
    --text-white-color: #fff;
    --button-black-color: #555;
    --input-type-border-white-color: #ccc;
}